<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="distributor" type="JetBlack.MessageBus.FeedBus.Distributor.Config.ConfigurationSectionHandler, JetBlack.MessageBus.FeedBus.Distributor"/>
  </configSections>

  <distributor release="PRD" debug="OPEN">

    <add name="OPEN" port="9124" allow="Publish,Notify,Subscribe"/>

    <add name="DEV" port="9124" deny="Publish,Notify,Subscribe">

      <feedConfigurations>

        <feedConfiguration feed="LSE" allow="Subscribe" requiresEntitlement="true">
          <clients>
            <client allow="Publish,Notify" host="LONW13298" user="MANINVESTMENTS\rblackbourn"/>
          </clients>
        </feedConfiguration>

        <feedConfiguration feed="LOCAL" allow="Publish,Notify,Subscribe"/>

      </feedConfigurations>

    </add>

    <add name="PRD" port="9124">

      <feedConfigurations>

        <feedConfiguration feed="LSE" allow="Subscribe" requiresEntitlement="true">
          <clients>
            <client allow="Publish,Notify" host="LONW13298" user="MANINVESTMENTS\rblackbourn"/>
          </clients>
        </feedConfiguration>

        <feedConfiguration feed="LOCAL" allow="Publish,Notify,Subscribe"/>

      </feedConfigurations>

    </add>

  </distributor>  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>